body {
  background-color: white;
  color: rgb(0, 0, 0);
  --color: #a4a4a481;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
  linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 50px 50px ;
  }
  
  button {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px;
    background-color: #1e2e1f;
    color: rgb(242, 235, 235);
  }
  button :hover{
    padding: 10px;
  }
  .modeToggle{
    
  }